



.img-height{

    height: 350px;

}

.bg-custom{

    Background-color: aqua


}

.custom-ul{
    margin-top: 20px;
    margin-left: 20px;
}


.custom-nav-link{

    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 30px;
}


.custom-m{
    margin: 10px;
}

